<head>
	<title>Question</title>
</head>

<h1>Question Page</h1>

	<%= render 'shared/logos' %>

<div class="center">
	
		<br />Question: <%= @question.label %><br />
		<%= @question.text %> <br /><br />
	

  <div>
    Answer:<br />
    <% @question.answers.each do |answer| %>
      <strong>Answer:</strong>
      <% if answer.value %>
        <%= answer.value %><br />
        <%= link_to "Edit Answer", edit_question_answer_path(@question, answer) %>
         <br />
        <%= link_to "Delete Answer", question_answer_path(@question, answer), 
        method: :delete, data: { confirm: 'Are you sure?'} %> <br />
      <% end %>
    <% end %>
    <% if current_user.admin %>
      Answer Choice(s):<br />
      <% @question.choices.each do |choice| %>
        <strong>Choice:</strong>
        <% if choice.value %>
          <%= choice.value %><br />
          <%= link_to "Edit Choice", edit_question_choice_path(@question, choice) %>
           <br />
          <%= link_to "Delete Choice", question_choice_path(@question, choice), 
          method: :delete, data: { confirm: 'Are you sure?'} %> <br />
        <% end %>
      <% end %>
      <%= link_to "Edit Question", edit_question_path(@question) %><br />
      <%= link_to 'Delete Question', @question, method: :delete, data: { confirm: 'Are you sure?'} %> <br/>
    <% else %>
      <%= link_to "Answer Question", new_question_answer_path(@question) %>
    <% end %>
    

     
  </div>
</div>

<div id="userHome_nav">
	<% if @question %>
    <% if current_user.admin %>
      <br /><%= link_to "List of Questions", questions_path %>
      <br /><%= link_to "Edit", edit_question_path(@question) %>
      <br /><%= link_to "New Question", new_question_path %>
    <% else %>
      <br /><%= link_to "List of Questions", questions_path %>
    <% end %>
  <% end %>
</div>

