<head>
	<title>Question</title>
</head>

<h1>Question Page</h1>

	<%= render 'shared/logos' %>

<div class="center">
	<section>
		<%= @question.label %><br />
		<%= @question.text %>
	</section>

  <div>
    <br />Answer:<br />
    <% @question.answers.each do |answer| %>
      <strong>Answer:</strong>
      
      <% if answer.value %>
        <%= answer.value %><br />
        <%= link_to "Edit Answer", edit_question_answer_path(@question, answer) %>
        <%= link_to "Delete Answer", delete_question_answer_path(@question, answer) %>
      <% else %>
        No answer provided. <br />
        <%= link_to "Answer Question", new_question_answer_path(@question) %>
      <% end %>
    <% end %>

    <% if current_user.admin %>
      <%= link_to "Edit Question", edit_question_path(@question) %>
    <% end %> 
  </div> 
</div>

<div id="userHome_nav">
	<% if @question %>
    <br /><%= link_to "List of Questions", questions_path %>
    <br /><%= link_to "Edit", edit_question_path(@question) %>
    <br /><%= link_to "New Question", new_question_path %>
  <% end %>
</div>

