<h2>Debriefing</h2>

<p><strong>Title:</strong> Identifying the Effects of Coping Strategies on Stress</p>

<h3>What were we trying to do in this experiment?</h3>

<p>Our study is trying to determine if there is a relationship between personality and the frequency of sarcasm use and if that relationship has an effect on stress levels.</p>

<h3>What is the goal of this research?</h3>

<p>Our goal is to better identify valid coping strategies, especially for subjects who score higher in Neuroticism and therefore are more likely to have difficulties with stress. By determining if sarcasm is a valid coping strategy, its use can either by encouraged or discouraged to help with stressful situations.</p>

<p>Thank you for participating! Please do not discuss this debriefing with any other potential participants!</p>

<p>If you have any questions, comments, or concerns please feel to email or call any of the contacts below.  If you would like a copy of the article and results email or leave your name with one of the researchers or the faculty sponsor.</p>

<p><strong>Researchers:</strong> Steele Schauer, sschauer@fandm.edu</p>

<p><strong>Faculty:</strong> Dr. Allison Troy (Faculty Sponsor) 717-291-3833</p>

<hr />

<p>How would you like to be compensated for your time?</p>

<%= form_for(@debrief) do |debrief_form| %>
    <div class="form-group">
      <ul class="list-inline">
          <li>
            <%= debrief_form.radio_button(:choice, "credit") %> PSYC100/101 Course Credit
          </li>
          <li>
            <%= debrief_form.radio_button(:choice, "raffle") %> A Chance to Win a Bluetooth Speaker
          </li>
      </ul>
    </div>

    <div>
      <p>If you selected <strong>Course Credit</strong> above, please be sure to fill out the fields below:
    </div>

    <div class="form-group">
        <%= debrief_form.label "Instructor's Name", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= debrief_form.text_field :instructor, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= debrief_form.label "Your Name", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= debrief_form.text_field :student_name, class: "form-control" %>
        </div>
    </div>

    <div>
      <%= debrief_form.submit "Submit" %>
    </div>
<% end %>
