<%= form_for ([@question, @question.choices.new]) do |f| %>
  <p>
    Title: <%= @question.label %><br />
    Question: <%= @question.text %><br />
  </p>
  <%= f.fields_for :choices do |builder| %>
    <%= render 'choices_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Choice", f, :choices %></p>
  <p><%= f.submit "Submit Choice", class: "btn btn-large btn-primary" %></p>
  <%= link_to "List of Current Questionnaires", questionnaires_path %>
<% end %>