<head>
	<title>All Choices</title>
</head>
<h1>All Choices</h1>

<%= will_paginate %>
  <ul class="choices">
    Format: Question Label<br /> Answer Choice <br />
    <% if current_user %>
      <%= render @choices %> <br /><! located at _choices.html.erb >
    <% end %>
    <%= link_to 'Return to Your Home Page', current_user %>
    <br /><%= link_to "List of Questions", questions_path %>
  </ul>
<%= will_paginate %>