<head>
	<title>User Home Page</title>
</head>

<h1>User Home Page</h1>

<%= render 'shared/logos' %>

<div class="center">
		<section>
				You are currently involved in: <br />
				The Affective Forecasting of Future Life Events Study
		</section>
</div>

<div id="userHome_nav">
	<% if current_user %>
		<%= link_to "Edit Account", edit_user_path(current_user) %><br />
		<%= link_to "Delete Account", current_user, :confirm => 
			"Are you sure?", :method => :delete %>
			<% if current_user.admin? %>
        <br /><%= link_to "List of Current Users", users_path %>
      <% end %>
      <br /><%= link_to "List of Current Questions", questions_path %>
      <% if current_user.admin? %>
        <br /><%= link_to "New Question", new_question_path %>
        <br /><%= link_to "New Block", new_block_path %>
      <% end %>
	<% end %>


		