<head>
	<title>All Answers</title>
</head>
<h1>All Answers</h1>

<%= will_paginate %>
  <ul class="answers">
    Format: Question Label<br /> Answer <br />
    <% if current_user %>
      <%= render @answers %> <br /><! located at _answers.html.erb >
    <% end %>
    <%= link_to 'Return to Your Home Page', current_user %>
    <br /><%= link_to "List of Questions", questions_path %>
  </ul>
<%= will_paginate %>