<%= form_for @block do |f| %>
  <p>
    <%= f.label :label %>
    <%= f.text_field :label %>
  </p>
  <%= f.fields_for :questions do |builder| %>
  	<%= render 'question_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "add Question", f, :questions %></p>
  <p><%= f.submit "Submit block", class: "btn btn-primary btn-large btn-block" %></p>
  <%= link_to "List of Current Blocks", blocks_path %> 
<% end %>
