<head>
  <title>Block</title>
</head>

<h1>Block Page</h1>

<%= render 'shared/logos' %>
<br />
<strong><br />Format:</strong> Block Label with content and actions listed below<br/><br/> 
<ul class="blocks">
  <!<% if current_user.admin? %>
  <strong>
  	<%= @block.label %> <br />
  </strong>
  <ol>
  	<% for question in @block.questions %>
  	<li><%=h question.text %></li>
    <ul>
      <% for answer in question.answers %>
        <li><%= h answer.value %></li>
      <% end %>
    </ul>
  	<% end %> <br />
  </ol>
  	<%= link_to 'Edit', edit_block_path(@block) %> |
  	<%= link_to 'Delete', @block, method: :delete, data: { confirm: 'Are you sure?'} %><br/>
  <!<% end %> 
</ul>

<p>
  <%= link_to "View all Blocks", blocks_path %>
</p>