<% if current_user %>
  Study: <strong><%= study.title %></strong>
    <% if current_user.admin? %>
      <%= link_to '(del)', study, method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  <ol>
    <% for questionnaire in study.questionnaires %>
      <li><i><%=h questionnaire.label %></i></li>
      <ol>
        <% for block in questionnaire.blocks %>
          <li><b><%=h block.label %></b></li>
            <ol>
                <% for question in block.questions %>
                    <% puts question %>
                <li><b><%=h question.label %></b></li>
                Question: <%=h question.text %>
                Answer Type: <%=h question.answer_type.label %>
                <ol>
                    <% for choice in question.answer_type.choices %>
                      <li><i><%=h choice.value %></i></li>
                  <% end %>
                  <% if !question.answer_type.answer_validation.nil? %>
                      <li><i><%=h question.answer_type.answer_validation.regular_expression %></i></li>
                  <% end %>
                </ol>
              <% end %>
            </ol>
        <% end %>
      </ol>
    <% end %>
  </ol>
<% end %>
