<div class="fields">
  <p>
    <%= f.label :label, "Question Label" %>
    <%= f.text_area :label, :rows => 1 %>
    <%= f.label :text, "Question" %>
    <%= f.text_area :text, :rows => 3 %><br/>
    <%= link_to_remove_fields "Remove Question", f%><br/>
    <%= f.fields_for :questions do |builder| %>
      <% if current_user.admin %>
        <%= render 'choice_fields', :f => builder %>
      <% elsif current_user %>
        <%= render 'answer_fields', :f => builder %>
      <% end %>
    <% end %>
    <% if current_user.admin %>
      <p><%= link_to_add_fields "Add Choice", f, :choices %></p>
    <% elsif current_user %>
      <p><%= link_to_add_fields "Add Answer", f, :answers %></p>
    <% end %>
  </p>
</div>