<div class="fields">
  <p>
    <%= f.label :label, "Question Label" %>
    <%= f.text_area :label, :rows => 1 %>
    <%= f.label :text, "Question" %>
    <%= f.text_area :text, :rows => 3 %><br/>
    <%= link_to_remove_fields "Remove Question", f%><br/>
  </p>
</div>