<% if current_user %>
  <strong><%= questionnaire.label %></strong><br />
  <ol>
    <% for block in questionnaire.blocks %>
      <li><i><%=h block.label %></i></li>
      <ol>
        <% for question in block.questions %>
          <li><b><%=h question.label %></b></li>
          <%=h question.text %>
          <ol>
            <% for answer in question.answers %>
              <li><i><%=h answer.value %></i></li>
            <% end %>
          </ol>
        <% end %>
      </ol>
    <% end %> <br />
  </ol>
    <%= link_to 'Edit Questionnaire', edit_questionnaire_path(questionnaire) %>
<% end %>
<% if current_user.admin? %>
  | <%= link_to 'Delete', questionnaire, method: :delete, data: { confirm: 'Are you sure?'} %><br/>
<% else %>
<br/>
<% end %><br />