<!--only for the admin-->
<head>
	<title>All Questionnaires</title>
</head>
<h1>All Questionnaires</h1>
<%= render 'shared/logos' %><br />

<div>
  <% if current_user %>
    <strong>Format:</strong> Questionnaire Label with actions listed below<br/><br/>
</div>
    <%= will_paginate %>
    <ul class="questionnaires">
      <%= render @questionnaires %> <! located at _questionnaire.html.erb > 
    </ul>
    <%= will_paginate %>
    <% if current_user.admin? %>
      <%= link_to "Create a Questionnaire", new_questionnaire_path %>
    <% end %>
  <% end %>