<head>
  <title>Questionnaire</title>
</head>

<h1>Questionnaire Page</h1>

<%= render 'shared/logos' %>
<br />
<strong><br />Format:</strong> Questionnaire Label with content and actions listed below<br/><br/> 
<div class="questionnaires">
  <strong>
    <%= @questionnaire.label %>
  </strong><br />
  <ol>
  	<% for block in @questionnaire.blocks %>
  	<li><i><%=h block.label %></i></li>
    <ol>
      <% for question in block.questions %>
        <li><b><%=h question.label %></b></li>
        <%=h question.text %>
        <ol>
          <% for answer in question.answers %>
            <li><i><%=h answer.value %></i></li>
          <% end %>
        </ol>
      <% end %>
    </ol>
  	<% end %> <br />
  </ol>
  	<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
  	<%= link_to 'Delete', @questionnaire, method: :delete, data: { confirm: 'Are you sure?'} %>
    <br/> 
</div>

<p>
  <%= link_to "View all Questionnaires", questionnaires_path %>
</p>