<% if current_user %>
  <strong><%= study.title %></strong><br />
  <ol>
    <% for questionnaire in study.questionnaires %>
      <li><i><%=h questionnaire.label %></i></li>
      <ol>
        <% for block in questionnaire.blocks %>
          <li><b><%=h blocks.label %></b></li>
            <ol>
              <% for question in block.questions %>
                <li><b><%=h question.label %></b></li>
                <%=h question.text %>
                <ol>
                  <% for answer in question.answers %>
                    <li><i><%=h answer.value %></i></li>
                  <% end %>
                </ol>
              <% end %>
            </ol>
        <% end %> <br />
      </ol>
    <% end %>
  </ol>
  <%= link_to 'Edit Study', edit_study_path(study) %>
<% end %>
<% if current_user.admin? %>
  | <%= link_to 'Delete', study, method: :delete, data: { confirm: 'Are you sure?'} %><br/>
<% else %>
<br/>
<% end %><br />