<% if answer_type.answer_validation.nil? %>
  <% if answer_type.allow_multiple %>
      <ul class="list-inline">
      <% answer_type.choices.each do |choice| %>
          <li>
          <%= form.check_box(:values, {multiple: true}, choice.text, nil) %> <%= choice.text %>
          </li>
      <% end %>
      </ul>
  <% else %>
      <ul class="list-inline">
      <% answer_type.choices.each do |choice| %>
          <li>
              <%= form.radio_button(:value, choice.text) %> <%= choice.text %>
          </li>
      <% end %>
      </ul>
  <% end %>
<% else %>
    <%= form.text_field :value %>
<% end %>
