<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div id="container">
			<%= link_to "Waffle", root_path, id: "logo" %>
			<nav>
				<ul class="user_nav pull-right">
					<div class="btn-group">
						<button type="button" class="btn btn-primary">
							<a <%= link_to "Help", help_path %> <span class="sr-only"></a></button>
					</div>
					<a>
						<button type="button" class="btn btn-primary btn-xs">
							<% if logged_in? %>
								<a><%= link_to "Home", current_user %>
							<% else %>
								<a><%= link_to "Home", root_path %>
							<% end %></a></button>
					</a>
					<a>
						<% if logged_in? %>
							<button type="button" class="btn btn-primary btn-xs">
								<div id="fat-menu" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
										<%= current_user.email %> <span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><%= link_to "User Settings", edit_user_path(current_user) %></li>
										<li><%= link_to "List of Current Studies", studies_path %></li>
		                <li class="divider"></li>
		                <li><%= link_to "Delete Account", current_user, data: {
		                        :confirm => "Are you sure?"
		                    }, :method => :delete %>
		                </li>
										<% if current_user.admin? %>
											<li class="divider"></li>
											<li><%= link_to "List of Current Users", users_path %></li>
		                  <li><%= link_to "New Questionnaire", new_questionnaire_path %></li>
											<li><%= link_to "New Study", new_study_path %></li>
										<% end %>
										<li class="divider"></li>
										<li><%= link_to "Log out", log_out_path, method: "delete" %></li>
									</ul>
								</div>
							</button>
						<% else %>
							<button type="button" class="btn btn-primary btn-xs">
								<a><%= link_to "Sign up", sign_up_path %> </a></button>
							<button type="button" class="btn btn-primary btn-xs">
								<a><%= link_to "Log in", log_in_path %></a></button>
						<% end %>
					</a>
				</ul>
				<div class="span7"></div>
				<div class="troy_image">
					<%= link_to image_tag("emolablogo1.jpg", size: "40x30", alt: "EmoLab"), 'http://www.fandm.edu/allison-troy' %>
				</ul>
			</nav>
		</div>
	</div>
</header>
